@model ToDoList.Models.Category

@{
    ViewData["Title"] = "Category - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Category Details</h2>
<hr />

<p>@Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(model => model.Category)</p>
<p>@Html.DisplayNameFor(model => model.ItemId) : @Html.DisplayFor(model => model.ItemId)</p>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) | @Html.ActionLink("Back to List", "Index")</p>

